<DOCTYPE html>
    <html>

    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src=subject.js></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.1/css/all.min.css">

        <!---------------------- Style CSS ------------------------->
        <link rel="stylesheet" type="text/css" href="../VueCw1/css/style.css">

        <title>After School club app</title>
    </head>

    <body>

        <div id="app">

            <h1 v-text='webname'></h1>

            <div v-if='ShowSubject'>


                <div v-for='a in subject'>

                    <div id="image">
                        <img v-bind:src="a.image" alt="maths icon" height="100px">
                    </div>

                    <div id="name">
                        {{a.name}}
                    </div>

                    <div id="location">
                        {{a.location}}
                    </div>

                    <div id="price">
                        £{{a.price}}
                    </div>

                    <div id="space">
                        {{a.space}}
                    </div>

                    <button v-on:click='addToCart(a)' v-if='CanAddToCart(a)'>Add to Cart</button>
                    <button disabled='disabled' v-else=>Add to Cart</button>
                    <span v-if='a.space === CartCount(a.id)'>Out Of Stock</span>
                    <span v-else-if='a.space - CartCount(a.id) < 4'>
                        Only {{a.space - CartCount(a.id)}} left
                    </span>

                    <br>
                    <!---------Space--------->

                    <br>
                    <!--------Between-------->

                </div>

                <!----Basket button----->
                <button v-on:click='ShowBasket'>{{this.cart.length}} Basket</button>

            </div>


            <!----The else statement that enables the basket button to change the pages of the web app----->
            <div v-else>
                <h2>Basket</h2>

                <button v-on:click="reloadPage">Back</button>

                <div v-for='a in cart'>
                    <div v-for='b in subject'>

                        <div id="list" v-if='b.id == a'>
                            <img v-bind:src="b.image" alt="maths icon" height="100px">
                            {{b.name}}
                            {{b.location}}
                            £{{b.price}}
                            <button v-on:click="RemoveSubject(b.id)">X</button>
                        </div>
                    </div>

                </div>

                <br>

                <p>Customer Detail</p>
                <form>
                    <label>Name:</label>
                    <input type="text" v-model='Order.name' v-on:keypress="isLetter($event)"><br><br>
                    <label>Phone:</label>
                    <input type="text" v-model='Order.phone' v-on:keypress="isNumber($event)"><br><br>
                    <input type="submit" @click='alert' value="Submit">
                </form>

            </div>

        </div>

        <script src="lesson.js"></script>
    </body>

    </html>